



<li><%= @question.name %></li>
    <ul>
      <li><%= form_for([@question.survey, @question, Choice.new],remote: true) do |f| %>
          <div class="field">
            <%= f.label :name %><br>
              <%= f.text_field :name %>
            </div>
            <div class="actions">
              <%= f.submit %>
            </div>
          <% end %>
          </li>
  </ul>

  <script type="text/javascript"> 
      $(".new_choice").on("ajax:success", function(e, data, status, xhr) {
        return $(this).parent().append(xhr.responseText);
      }).on("ajax:error", function(e, xhr, status, error) {
        return $("#new_article").append("<p>ERROR</p>");
      });

</script>