

<h1><%= @survey.name %></h1>
<div class="wat">
	<%= form_for([@survey, @question], remote: true) do |f| %>
		<div class="field">
			<%= f.label :name %><br>
			<%= f.text_field :name %>
		</div>
		<div class="actions">
			<%= f.submit %>
		</div>
	 <% end %>
	 </div>
<% if @survey.questions %>
	<ol>
	<% @survey.questions.each do |question| %>
	
		<li><%= question.name %></li>
		<ul>
			<li><%= form_for([@survey, question, @choice],remote: true) do |f| %>
					<div class="field">
						<%= f.label :name %><br>
					 		<%= f.text_field :name %>
						</div>
						<div class="actions">
							<%= f.submit %>
						</div>
						<% end %></li>
		<% if question.choices %>
		
			<% question.choices.each do |choice| %>
				
					<li><%= choice.name %></li>
				<% end %>
			
			
			
  				
		</ul>	
			<% end %>
		
	<% end %>

	
	

	
  	</ol>
  	<%= form_for @survey, url: {action: "publish"} do |f| %>
 
  <%= f.submit "Publish" %>
<% end %>

			
<% end %>






