<h1><%= @survey.name %></h1>
<div class="new_survey">

	<div class="new_survey_form">
	<%= form_for([@survey, @question], remote: true, :html => {:class => "form-inline"}) do |f| %>
		
			
		
			<%= f.text_field :name, placeholder: "New question" %>
		
				
			<%= f.submit class: 'btn btn-default btn-xs' %>
		
	 <% end %>
<% if @survey.questions %>
	<ol class="table-striped">
	<% @survey.questions.each do |question| %>
	
		<h3><li><%= question.name %></li></h3>
		<ul>
			<li><%= form_for([@survey, question, @choice], remote: true, :html => {:class => "form-inline"}) do |f| %>
					
					 		<%= f.text_field :name, placeholder: "New choice" %>
						
							<%= f.submit class: 'btn btn-default btn-xs' %>
						
						<% end %></li>
		<% if question.choices %>
		
			<% question.choices.each do |choice| %>
				
					<li><%= choice.name %></li>
				<% end %>
			
			
			
  				
		</ul>	
			<% end %>
		
	<% end %>

	
	

	
  	</ol>
  	<%= form_for @survey, url: {action: "publish"}, :html => {:class => "form-inline"} do |f| %>
 
  <%= f.submit "Publish" , class: 'btn btn-default' %>
<% end %>

			
<% end %>
</div>





